{% extends 'base.html' %}

{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>DIVE INTO THE UNIVERSE</h2>
            <h5>Assemble your favorite heros to defend the multiverse!</h5>
        </div>
    </header>

    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Heros!</h2>
            <p>Build the team that you have always wanted to see in action!</p>
        </div>
    </section>


    <img src="../static/images/mcu_large.jpg" alt="Marvel Heros" id="api-image">



{% endblock content %}